.test-container {
    background: #222831;
    color: #EEEEEE;
    padding: 1rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test-header {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0 2rem 0;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1024px;

}

.timer {
    font-weight: bold;
    color: rgba(255, 59, 48, 0.90);
    font-size: 1.2rem;
}

.MCQ-question-box-container {
    width: 100%;
    /*max-width: 1024px;*/
}


.question-box {
    background: #393E46;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.question-box p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.question-box ul {
    list-style: none;
    padding: 0;
}

.question-box li {
    background: #EEEEEE;
    color: #222831;
    padding: 0.6rem;
    margin: 0 0 0.9rem 0;
    border-radius: 4px;
    cursor: pointer;
}

.question-box li.selected {
    background: rgba(0, 173, 181, 0.60);
    color: #EEEEEE;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.navigation-buttons button {
    padding: 0.5rem 1rem;
    width: 90px;
    background: #00ADB5;
    color: #222831;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.navigation-buttons button:hover {
    background: rgba(0, 173, 181, 0.80);
    color: rgba(238, 238, 238, 0.80);
}

.navigation-buttons button:disabled {
    background: #555;
    cursor: not-allowed;
}


.navigation-buttons .submit {
    background: #00ADB5;
    color: #222831;
}



.no-questions-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0;
}
.no-questions-container > p {
    font-size: 1.13rem;

}
.no-questions-container > a {
    padding: 0.5rem 1rem;
    background: #00ADB5;
    color: #222831;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.no-questions-container >a:hover {
    background: rgba(0, 173, 181, 0.80);
}